body {
  background-color: rgb(96, 95, 95);
  font-family: "Courier New", Courier, monospace;
}
h1 {
  display: flex;
  justify-content: center;
  color: rgb(135, 0, 0);
  border: 2px solid rgb(252, 252, 252);
  border-radius: 10px;
  background-color: rgb(253, 252, 252);
}
h2 {
  color: rgb(135, 0, 0);
  text-align: center;
}
h3 {
  color: rgb(186, 186, 186);
  text-align: center;
}
h4 {
  color: rgb(251, 249, 249);
  text-align: center;
  line-height: 0.5;
}
